* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
}

body {
    position: relative;
    min-height: 100vh;
}

/*
   Scroll
*/
::-webkit-scrollbar {
    width: 8px;
    background: #080808;
}

::-webkit-scrollbar-thumb{
    background: #3b3b47;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: #292931;
}

/* 
    ------------------------- HEADER y Barra de Navegacion -------------------------
*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.navegacion {
    padding: 1.7rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    transition: 0.3s ease-out 0s;

    --img1: scale(1);
    --img2: scale(0);
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a{
    text-decoration: none;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;    
}

nav a:active, nav a:hover {
    background-color: white;
    color: black;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
    cursor: pointer;
    position: relative;
}

.menu i:nth-child(1){
    transform: var(--img1);
}

.menu i:nth-child(2){
    left: 10%;
    top: 5%;
    position: absolute;
    transform: var(--img2);
}

/* 
    ------------------------- CONTENIDO -------------------------
*/ 
section {
    margin: 0rem 8.5rem;
    color: white;
}

/* 
    ------------------------- En la Sección de INICIO -------------------------
*/
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.21rem;
    min-height: calc(100vh - 5.3rem);
}

.presentacion {
    width: 50%;
}

.main h1 {
    font-size: 3rem;
    font-weight: 600;
}

.main p{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.social a {
    color: rgb(252, 252, 252);
    font-size: 1.6rem;
    padding: .4rem;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social a:hover {
    background-color: white;
}

.imagen {
    background-repeat: no-repeat;
    background-position: 0 -75px;
    width: 45%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.imagen img {
    width: 90%;
    max-width: 500px;
}

#github:hover {
    color: #171515;
}

#linkedin:hover {
    color: #0e76a8;
}

/* 
    ------------------------- En la Sección de SOBRE MÍ -------------------------
*/
.sobre {
    padding-top: 85px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.sobre h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    grid-column: 1 / -1;
}

.sobre p {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 100;
}

.sobre div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-sobre img{
    width: 100%;
}

/* 
    ------------------------- En la Sección de PROYECTOS -------------------------
*/
.proyectos {
    padding-top: 85px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.proyectos h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.proyecto {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 16px;
    background: transparent;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.proyecto div:nth-child(1), .proyecto div:nth-child(2){
    width: 50%;
}

.proyecto img {
    width: 100%;
    object-fit: cover;
}

.descripcion {
    display: grid;
}

.descripcion h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.descripcion p {
    margin-bottom: 16px;
}

.herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 8px;
}

.descripcion div span {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background: #17232e;
    border-radius: 9999px;
    font-size: 12px;
}

.proyecto:hover {
    transform: scale(1.08);
    border: 1px solid grey;
    z-index: 5;
}

/*
    ------------------------- En la Sección de CONTACTOS -------------------------
*/
.contacto {
    margin: 5rem auto;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.formulario {
    margin-top: 1rem;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grupo_nombre, #grupo_email, #grupo_mensaje {
    position: relative;
    width: min(350px, 100%);
}

.inputbox {
    position: relative;
    margin: 36px 0 6px 0;
    width: 100%;
}

#nombre, #email, #mensaje{
    border-bottom: 2px solid #fff;
}

#nombre:focus, #email:focus, #mensaje:focus{
    border-bottom: 2px solid rgb(34, 99, 153);
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

input:focus ~ label {
    top: -5px;
}

input:valid ~ label {
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 20px 0 5px;
    color: #fff;
}

.formulario #etiqueta {
    top: 20%;
}

textarea:focus ~ #etiqueta {
    top: -5px;
}

textarea:valid ~ #etiqueta {
    top: -5px;
}

.inputbox textarea{
    width: 100%;
    min-height: 150px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 20px 35px 0 5px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.input_error{
    position: absolute;
    font-size: 14px;
    margin-bottom: 0;
    display: none;
    padding-left: 5px;
}

.input_error-activo{
    display: block;
}

.mensaje_error{
    margin-top: 30px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #f66860;
    border-radius: 3px;
    color: #000;
    display: none;
}

.mensaje_error-activo{
    display: block;
}

.boton {
    width: min(250px, 100%);
    position: relative;
    height: 40px;
    margin: 1.5rem 0;
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.boton:hover {
    border: 2px solid rgb(34, 99, 153);
}

.incorrecto #nombre, 
.incorrecto #email, 
.incorrecto #mensaje{
    border-bottom: 2px solid #bb2929;
}

/*
    ------------------------- En el FOOTER -------------------------
*/

footer{
    border-top: 1px solid rgb(88, 88, 88);
    color: #fff;
    width: 100%;
    /* height: 5rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer p {
    margin: 1.8rem 8.5rem;
}

/* Ocultar el captcha */

.grecaptcha-badge { 
    visibility: hidden;
}

/* 
---------------------------------------------------------------------------------

    ------------------------------ ZONA RESPONSIVA ------------------------------

---------------------------------------------------------------------------------
*/ 

/*
    ------------------------- Responsivo para Tabletas -------------------------
*/
@media only screen and (max-width: 1023px) {
    .main{
        height: 60rem;
        min-height: 560px;
        max-height: 75vh;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .presentacion {
        width: 100%;
    }
    
    .imagen {
        width: 100%;
    }

    .imagen img {
        width: 65%;
        max-width: 350px;
    }

    .sobre {
        grid-template-columns: 1fr;
    }

    .imagen-sobre{
        align-items: center;
    }

    .imagen-sobre img {
        width: 65%;
        max-width: 350px;
    }

    .proyecto{
        flex-direction: column-reverse;
    }

    .proyecto div:nth-child(1), .proyecto div:nth-child(2){
        width: 100%;
    }
}

/* 
    ------------------------- Responsivo para celulares -------------------------
*/
@media only screen and (max-width: 767px){
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .navegacion {
        padding: 0.7rem 1rem;
        align-items: flex-start;
        max-width: 100%;
        font-size: 1.5rem;
        /* transition: all 0.3s ease; */
    }
    
    nav {
        position: absolute;
        display: grid;
        top: 52px;
        width: 100%;
        text-align: center;
        right: -100%;
        padding: 0 1rem;
        transition: all 0.3s ease;
    }

    nav a {
        padding: .65rem;
        font-size: 1rem;
    }

    #click:checked ~ .navegacion {
        height: 13.5rem;

        --img1: scale(0);
        --img2: scale(1);
    }
    
    #click:checked ~ .navegacion nav{
        right: 0%;
    }

    section {
        padding-top: 0;
        margin: 1rem 1.5rem;
    }

    .main {
        margin-top: 3.21rem;
    }

    .sobre, .proyectos, .contacto{
        padding-top: 55px;
    }

    .formulario{
        width: 100%;
    }

    footer p {
        margin: 1.8rem 1.5rem;
    }
}